# git-cliff configuration
# https://git-cliff.org/docs/configuration

[changelog]
header = ""
body = """
{%- for group, commits in commits | group_by(attribute="group") %}
### {{ group | upper_first }}
{% for commit in commits %}
- {{ commit.message | split(pat="\n") | first | trim }}\
  {% if commit.scope %} (**{{ commit.scope }}**){% endif %} \
  ([{{ commit.id | truncate(length=7, end="") }}](https://github.com/denysvitali/charts/commit/{{ commit.id }}))\
{% endfor %}
{% endfor %}
"""
trim = true
footer = ""

[git]
conventional_commits = true
filter_unconventional = false
split_commits = false
commit_parsers = [
  { message = "^feat", group = "Features" },
  { message = "^fix", group = "Bug Fixes" },
  { message = "^perf", group = "Performance" },
  { message = "^refactor", group = "Refactor" },
  { message = "^docs", group = "Documentation" },
  { message = "^style", group = "Styling" },
  { message = "^test", group = "Testing" },
  { message = "^chore", group = "Miscellaneous" },
  { message = "^ci", group = "CI/CD" },
  { message = "^build", group = "Build" },
  { body = ".*", group = "Other" },
]
filter_commits = false
tag_pattern = ".*"
sort_commits = "newest"
